<div class="animated-background">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <mat-card id="form-container">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
          <mat-chip-option *ngFor="let chip of warnings" highlighted color="warn">
            {{chip}}
          </mat-chip-option>
        </mat-chip-listbox>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" placeholder="username" required formControlName="username" autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password"  (change)="checkPasswordfields()" placeholder="*********" required formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide" id="visibility-btn">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password Again</mat-label>
          <input matInput type="password" name="passwordAgain" (change)="checkPasswordfields()" placeholder="*********" required formControlName="passwordAgain">
        </mat-form-field>
        <button mat-raised-button matRipple matRippleColor="#80bee80F" appOnHover type="submit"
        [disabled]="form.invalid || form.value.password !== form.value.passwordAgain" id="login-btn">Registration</button>
      </form>
      <button mat-button (click)="navigateToLogin()" id="btn">Login</button>
    </mat-card-content>
  </mat-card>
</div>
