<h2 mat-dialog-title>{{editing ? "Edit" : "New"}} Item</h2>
<mat-dialog-content class="mat-typography content">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Level</mat-label>
      <input matInput formControlName="level" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Health Points</mat-label>
      <input matInput formControlName="hp" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Strength</mat-label>
      <input matInput formControlName="strength" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dexterity</mat-label>
      <input matInput formControlName="dexterity" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Intelligence</mat-label>
      <input matInput formControlName="intelligence" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Experience</mat-label>
      <input matInput formControlName="exp" type="number">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="{edit: editing, data: form.value}" [disabled]="!form.valid" cdkFocusInitial>Save</button>
</mat-dialog-actions>
