<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography content">
  <mat-form-field>
    <mat-label>New Username</mat-label>
    <input matInput type="text" name="username" placeholder="username" required [(ngModel)]="user!.username" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="*********" [(ngModel)]="newPassword" (change)="updatePassword()">
    <mat-icon matSuffix (click)="hide = !hide" id="visibility-btn">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Save</button>
</mat-dialog-actions>
