#content-npcs {
  text-align: center;
  &-list {
    width: 25vw;
    height: 50vh;
    overflow-y: scroll;
    .content-npcs-list-element {
      height: 4vh;
      overflow: hidden;
      .itemname {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .actions {
        float: right;
        margin-top: -0.5vh;
      }
    }
  }
}
