<main id="content">
  <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer class="sidenav" mode="over">
      <button mat-button (click)="openNpcDialog()" *ngIf="isAdmin">NPCs</button>
      <br>
      <button mat-button (click)="openItemsDialog()">Items</button>
      <br>
      <button mat-button (click)="openDashboardDialog()" *ngIf="isAdmin">Dashboard</button>
      <br>
      <button mat-button (click)="openSettingsDialog()">Settings</button>
      <br>
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <section id="content-main">
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <app-character-card [character]="character" [skillPoints]="skillPoints" [username]="username"
            (selectPropertyCallback)="selectPropertyCallback($event)"></app-character-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-arena-board (figthReportCallback)="fightCallback($event)"></app-arena-board>
        </mat-grid-tile>
      </mat-grid-list>
    </section>

  </mat-drawer-container>
</main>
