*:not(mat-icon) {
  font-family: "MedievalSharp", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.sidenav {
  display: flex;
  flex-direction: column;

  button {
    width: 100%;
  }
}

#content {
  height: 100vh;

  .drawer-container {
    height: 100%;
  }
}
