<mat-card id="character-card">
  <mat-card-header>
    <div id="character-card-header">
      <label class="mat-h1">
        {{username}}
      </label>
    </div>
    <div id="character-card-level">
      <label for="progress">LvL: {{character?.level}}</label>
      <mat-progress-bar mode="determinate" id="progress" [value]="getLevelProgress()" color="warn"></mat-progress-bar>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content id="character-card-content">
    <mat-grid-list cols="3">
      <mat-grid-tile rowspan="2">
        <mat-list style="width: 100%;">
          <span mat-subheader *ngIf="skillPoints>0">Skillpoints: {{skillPoints}}</span>
          <mat-list-item *ngFor="let key of propertyList" highlighted class="property-list" [ngClass]="skillPoints > 0 ? 'property-list-active':''" (click)="selectProperty(key)">
            <span>{{key}}</span>
            <section class="number">
              {{getProperty(key)}}
            </section>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="2">
        <mat-list>
          <div mat-subheader>Equipment</div>
          <mat-list-item *ngFor="let equipment of character?.equipment" (click)="unEquipItem(equipment)">
            <span matListItemTitle>{{equipment.name}}</span>
            <span matListItemLine>DMG: {{equipment.damage}}</span>
            <span>DEF: {{equipment.defense}}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Inventory</div>
          <mat-list-item *ngFor="let item of character?.inventory" (click)="equipItem(item)">
            <span matListItemTitle>{{item.name}}</span>
            <span matListItemLine>DMG: {{item.damage}}</span>
            <span>DEF: {{item.defense}}</span>
          </mat-list-item>
        </mat-list>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
